* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    background-size: 100% 100%;
    /*cover vmiért nem mukodiik*/
    /* background-repeat: repeat-y; */
    background-attachment: fixed;
    background-image: url('../images/background/MK 1920 X 1080.jpg');
    height: auto;
}

@media (min-width: 1280px) {
    body {
        background-image: url('../images/background/MK 1280 X 720.jpg');
    }
}

@media (min-width: 1366px) {
    body {
        background-image: url('../images/background/MK 1366 X 768.jpg');
    }
}

@media (min-width: 1440px) {
    body {
        background-image: url('../images/background/MK 1440 X 900.jpg');
    }
}

@media (min-width: 1536px) {
    body {
        background-image: url('../images/background/MK 1536 X 864.jpg');
    }
}

@media (min-width: 1920px) {
    body {
        background-image: url('../images/background/MK 1920 X 1080.jpg');
    }
}

.img-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    flex: 1 auto;
    flex-wrap: no-wrap;
    min-height: 100vh;
}

.img-box img {
    width: 50%;
}

.container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

figure {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

figcaption {
    text-align: center;
    color: gold;
    font-size: 50px;
    text-transform: uppercase;
}

figure:hover {
    text-decoration: underline;
    text-decoration-color: blue;
    text-underline-offset: 10px;
}